* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-front-smoothing: grayscale;
}

:root {
  /* 1rem == 10px */
  font-size: 62.5%;

  /* Colors */
  --white: #FFF;
  --purple-100: #E2D6FF;
  --purple-200: #CAB3FF;
  --puple-900: #7C3AED;
  --gray-100: #FBFAFF;
  --gray-200: #E3E3E3;
  --gray-300: #C7C7CD;
  --gray-500: #7C7C8A;
  --gray-700: #505059;
  --brown-100: #756966;
  --brown-600: #403937;
}

body {
  display: flex;
  background: var(--puple-900);
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

aside {
  padding: 3.2rem 2.7rem 0 3.5rem;
}

aside nav {
  width: 11.4rem;
  padding-top: 6rem;
}

aside nav .menu {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  list-style: none;
}

aside nav .menu .menu-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--purple-200);
  font-weight: 500;
  line-height: 125%;
  text-decoration: none;
  transition: all ease-in .2s;
}

aside nav .menu .menu-item ion-icon {
  font-size: 2rem;
}

aside nav .menu .menu-item.active,
aside nav .menu .menu-item:hover {
  color: var(--white);
  font-weight: 700;
}

main {
  flex: 1;
  height: calc(100vh - .4rem);
  background: var(--gray-100);
  margin-top: .4rem;
  padding: 4.8rem 3.2rem 0 3.2rem;
  border-top-left-radius: 32px;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header h1 {
  color: var(--brown-600);
  line-height: 130%;
}

main header h1 ion-icon {
  color: var(--gray-300);
  font-size: 2.4rem;
}

main header .avatar {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 9999px;
}